@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --brand-color: orange;
  --brand-secondary-color: #fcda69;
  --secondary-color: white;
  --primary-color: #fdfdfd
;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
  width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo div {
  margin-top: .2em;
}

.navbar .logo img {
  width: 40px;
  margin-right: .5em;
}

.navbar .logo span {
  color: var(--brand-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .mobile-menu {
  padding-right: 3em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

nav .mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.hero {
  text-align: center;
}

.hero .left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  letter-spacing: .3em;
}

.hero .left-col .primary-left-hero {
  line-height: 2em;
  margin: 2.5em auto;
}

.hero .left-col .primary-left-hero h1 {
  font-size: 2.5em;
}

.hero .left-col .primary-left-hero .pop-word {
  margin-top: 1.1em;
}

.hero .left-col .primary-cta {
  background-color: var(--brand-color);
  color: white;
  text-decoration: none;
  padding: .4em 1em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.hero .left-col .primary-cta img {
  width: .8em;
  margin-left: .5em;
}

.hero .left-col .secondary-cta {
  color: white;
  text-decoration: none;
  padding: .4em 1em;
  font-size: 1.4em;
  border-radius: 5em;
  display: inline-block;
  color: #20272E;
}

.hero .left-col .secondary-cta img {
  width: .8em;
  margin-left: .5em;
}

.hero .left-col .socials {
  display: none;
}

.hero .right-col .hero-img {
  margin-top: 2.5em;
  width: 80%;
  max-width: 450px;
  border-radius: 1em;
}

.services-section {
  background-color: var(--brand-secondary-color);
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-section .left-col h1 {
  font-size: 2.2em;
}

.services-section .right-col ul {
  margin: auto;
  padding-left: 2em;
}

.services-section .right-col ul hr {
  padding: -5em;
  margin: auto;
}

.services-section .right-col ul .blog-social {
  list-style-type: '01/';
}

.services-section .right-col ul .digital-strategy {
  list-style-type: '02/';
}

.services-section .right-col ul .marketing-copy {
  list-style-type: '03/';
}

.services-section .right-col ul li {
  border-top: 1px solid black;
  padding-left: 2em;
}

.services-section .right-col ul li::marker {
  font-weight: bold;
}

.creed-section {
  background-color: var(--secondary-color);
}

.creed-section li {
  background: var(--primary-color);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  max-width: 450px;
  margin: 0 auto 2em auto;
  border-radius: 1em;
}

.creed-section li img {
  width: 90%;
  max-width: 450px;
  border-radius: .5em;
}

.detail-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-section .container ul {
  margin-bottom: 3em;
}

.detail-section .strategy-cta {
  list-style-type: circle;
  margin-left: 3em;
}

.detail-section .belief-cta {
  margin-left: 3em;
  padding-left: 1.5em;
  border-left: 1px solid black;
}

.detail-section .belief-cta cite {
  margin-left: 2em;
}

.detail-section .motto-cta {
  margin-left: 3em;
}

.contact-section {
  background: black;
  color: var(--primary-color);
}

.contact-section .container .first-col a {
  text-decoration: none;
  color: white;
  margin: 1em 0;
}

.contact-section .container .first-col .about-me-cta {
  color: var(--brand-color);
  border: 3px solid var(--brand-color);
  font-weight: bold;
  border-radius: 5em;
  padding: .5em 1em;
}

.contact-section .container .first-col .about-me-cta:hover {
  background-color: var(--brand-color);
  color: white;
}

.contact-section .container .third-col img {
  width: 40px;
  border-radius: 5em;
}

.contact-section .container .third-col a {
  margin-right: .5em;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: .5em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 2em;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li .current a {
    font-weight: bold;
  }
  .services-section .container {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 4em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin: 5em auto;
  }
  .hero .container .left-col {
    margin: 6em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero .container .primary-cta {
    margin-right: 1em;
  }
  .hero .container .socials {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5em;
  }
  .hero .container .socials .social-wrapper {
    padding-left: 3em;
  }
  .hero .container .socials img {
    width: 40px;
    border-radius: 5em;
  }
  .hero .container .socials a {
    margin-right: .5em;
  }
  .services-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services-section .container .left-col {
    width: 50%;
  }
  .services-section .container .left-col h1 {
    letter-spacing: .05em;
    font-size: 2.7em;
  }
  .services-section .container .left-col p {
    margin-right: 10em;
  }
  .services-section .container .right-col {
    margin-top: 2em;
    width: 50%;
  }
  .services-section .container .right-col h1 {
    font-size: 1.7em;
  }
  .creed-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .creed-section ul li {
    margin-left: 2em;
  }
  .detail-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5em auto;
  }
  .detail-section .container .test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detail-section li {
    margin: 0 1em;
  }
  .contact-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-section ul .first-col p {
    width: 265px;
  }
}

@media only screen and (min-width: 1450px) {
  .container {
    width: 1300px;
    margin: 0 auto;
  }
  .hero {
    margin: 2em 0;
  }
  .hero .container {
    width: 1250px;
  }
  .creed-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .creed-section ul li {
    margin-right: 4em;
  }
}
/*# sourceMappingURL=main.css.map */