@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --brand-color: orange;
    --brand-secondary-color: #fcda69;
    --secondary-color: white;
    // --primary-color: #F2F2F2;
    --primary-color: #fdfdfd
}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 1em;

    .logo {

        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.5em;
        width: 10px;
        display: flex;
        justify-content: space-between;

        div {
            margin-top: .2em;
        }

        img {
            width: 40px;
            margin-right: .5em;
        }

        span {
            color: var(--brand-color);
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;

        .mobile-menu {
            padding-right: 3em;
            cursor: pointer;
        }
    }
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background-color: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
    .mobile-menu-exit {
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}

.hero {
    text-align: center;
    
    .left-col {
        .subhead {
            text-transform: uppercase;
            font-weight: bold;
            color: grey;
            letter-spacing: .3em;
        }

        .primary-left-hero {
            
            line-height: 2em;
            margin: 2.5em auto;
            h1 {
                font-size: 2.5em;
            }
            .pop-word {
                margin-top: 1.1em;
            }
        }

        .primary-cta {
            background-color: var(--brand-color);
            color: white;
            text-decoration: none;
            padding: .4em 1em;
            font-size: 1.4em;
            border-radius: 5em;
            font-weight: bold;
            display: inline-block;
            img {
                width: .8em;
                margin-left: .5em;
            }
        }

        .secondary-cta {
            color: white;
            text-decoration: none;
            padding: .4em 1em;
            font-size: 1.4em;
            border-radius: 5em;
            display: inline-block;
            color: #20272E;
            img {
                width: .8em;
                margin-left: .5em;
            }
        }
        .socials {
            display: none;
        }
    }
    
    .right-col {
        
        .hero-img {
            margin-top: 2.5em;
            width: 80%;
            max-width: 450px;
            border-radius: 1em;
        }
    }

}

.services-section {
    background-color: var(--brand-secondary-color);
    display: block;
    justify-content: space-between;
    .left-col {
        h1 {
            font-size: 2.2em;
        }
    }
    .right-col {
        ul {
            hr {
                padding: -5em;
                margin: auto;
            }
            .blog-social {
                list-style-type: '01/';

            }
            .digital-strategy {
                list-style-type: '02/';
            }
            .marketing-copy {
                list-style-type: '03/';
            }

            margin: auto;
            padding-left: 2em;
            li {
                border-top: 1px solid black;
                padding-left: 2em;
            }
            li::marker {
                font-weight: bold;
            }
        }
    }
}

.creed-section {
    background-color: var(--secondary-color);

    li {
        background: var(--primary-color);
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        max-width: 450px;
        margin: 0 auto 2em auto;
        border-radius: 1em;
        img {
            width: 90%;
            max-width: 450px;
            border-radius: .5em;
        }
    }
}

.detail-section {
    .container {
        display: flex;
        justify-content: center;
        ul {
            margin-bottom: 3em;
        }
    }
    .strategy-cta {
        list-style-type: circle;
        margin-left: 3em;
    }
    .belief-cta {
        // list-style-type: circle;
        margin-left: 3em;
        padding-left: 1.5em;
        border-left: 1px solid black;
        cite {
            margin-left: 2em;
        }
    }
    .motto-cta {
        margin-left: 3em;
    }
}

.contact-section {
    background: black;
    color: var(--primary-color);
    .container {
        .first-col {
            a {
                text-decoration: none;
                color: white;
                margin: 1em 0;
            }
            .about-me-cta {
                color: var(--brand-color);
                border: 3px solid var(--brand-color);
                font-weight: bold;
                border-radius: 5em;
                padding: .5em 1em;

                &:hover {
                    background-color: var(--brand-color);
                    color: white;
                }
            }
        }
        .second-col {
            a {
                text-decoration: none;
                color: white;
                margin: 1em 0;
                &:hover {
                    color: var(--brand-color);
                }
            }
        }
        .third-col {
            img {
                width: 40px;
                border-radius: 5em;
            }
            a {
                margin-right: .5em;
            }
        }
    }
}

//////////////////////////////////////////////////////////
// About Page

.about-section {
    text-align: center;
    .container {
        .left-col {
            .image-cropper {
                .profile-pic {
                    object-fit: cover;
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                }
            }
            .social-wrapper {
                margin-bottom: 5em;
                img {
                    width: 40px;
                    border-radius: 5em;
                }
                a {
                    margin-right: .5em;
                }
            }
            .contact-detail {
                .subject-quote {
                    font-style: oblique;
                }
            }
        }
        .right-col {
            text-align: left;
            h1 {
                font-size: 2.3em;
                text-align: center;
            }
            h2 {
                font-size: 1.8em;
            }
            .profession {
                ul {
                    list-style: '-';
                    li {
                        padding-left: 0.3em;
                    }
                }
            }
            .experiences {
                .work {
                    padding-bottom: .5em;
                }
            }
        }
    }
    .year {
        margin-top: -1em;
    }
}

//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
// Blog Page

.blog-categories {

    .container {
        padding-top: 1em;
        color: black;
        display: flex;
        justify-content: center;
        
        h2 {
            padding-left: 1em;
        }

        img {
            width: 20em;
            height: 22em;
            object-fit: cover;
        }
        ul {
            .blog-heading {
                h1 {
                    text-align: center;
                    padding: 0 0 1em 1.5em;
                    text-transform: uppercase;
                    letter-spacing: 1.5em;
                    font-size: 28px;
                    border-bottom-style: solid;
                }
            }
            li {
                a {
                    text-decoration: none;
                    color: black;
                }
                padding-bottom: 2em;
                width: 20em;
                p {
                    padding: 0 2em 1em 2em;
                    font-size: 13px;
                }

                .tips-and-tricks {
                    border: 1px solid rgb(207, 207, 207);
                }
                .real-stories {
                    border: 1px solid rgb(207, 207, 207);
                }
                .work-done {
                    border: 1px solid rgb(207, 207, 207);
                }
            }
        }
    }
}


//////////////////////////////////////////////////////////



@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        margin-top: .5em;

        ul {
            display: flex;
            padding-right: 2em;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li .current a {
            font-weight: bold;
        }

    }

    .services-section {
        .container {
            padding-left: 3em;
            padding-right: 3em;
        }
    }

    .about-section {
        .container {
            .right-col {
                h1 {
                    font-size: 4em;
                }
                .profession {
                    ul {
                        columns: 2;
                        li {
                            padding: .5em;
                        }
                    }
                }
            }
            padding-left: 3em;
            padding-right: 3em;
        }
    }

}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 4em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin: 5em auto;
        .left-col {
            margin: 6em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }

        .primary-cta {
            margin-right: 1em;
        }        
        .socials {
            display: inline-flex;
            align-items: center;
            margin-top: 5em;
            .social-wrapper {
                padding-left: 3em;
            }
            img {
                width: 40px;
                border-radius: 5em;
            }
            a {
                margin-right: .5em;
            }
        }
    }

    .services-section {
        .container {        
            display: flex;
            justify-content: space-between;
            .left-col {
                width: 50%;
                h1 {
                    letter-spacing: .05em;
                    font-size: 2.7em;
                }
                p {
                    margin-right: 10em;
                }
            }
            .right-col {
                margin-top: 2em;
                h1 {
                    font-size: 1.7em;
                }
                width: 50%;
            }
        }
    }

    .about-section {
        margin-top: 5em;
        .container {
            display: flex;
            justify-content: space-between;
            .left-col {
                margin-top: 5em;
                width: 50%;
            }
            .right-col {
                width: 50%;
            }
        }
    }

    .creed-section ul {
        display: flex;
        li {
            margin-left: 2em;
        }
    }

    .detail-section {
        .container {
            display: flex;
            align-items: center;
            margin: 5em auto;
            .test {
                display: flex;
            }
        }
        li {
            margin: 0 1em;
        }
    }

    .contact-section ul {
        display: flex;
        justify-content: space-between;

        .first-col {
            p {
                width: 265px;
            }
        }
    }

    .blog-categories {
        .container {
            padding-top: 5em;
            display: block;
            .blog-heading {
                display: none;
            }
            ul {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (min-width: 1450px) {
    .container {
        width: 1300px;
        margin: 0 auto;
    }

    .hero {
        margin: 2em 0;
        .container {
            width: 1250px;
        }
    }

    .creed-section ul {
        display: flex;
        li {
            margin-right: 4em;
        }
    }

}